# keys and certs
/ca/index.*
/ca/serial*
/ca/certs
/ca/newcerts
/ca/private
/keytool
*.csr
*.pem

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IDEA
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# KDE
.directory

# OSX
.DS_Store